body {
    background-image: url("C:/Users/advan/Desktop/tugas-pwb/tugas2/public/img/pattern.jpg"); 
    margin: 0;
    padding: 0;
} 

h1 {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
   margin-left: 20px;
}


a {
    text-decoration: none;
}

section {
    background-color: white;
    margin: 50px 300px 20px 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 25px;
}

div {
    padding: 20px;
    display: contents;
    background-color: white;
}

p {
    border-bottom: 5px solid black;
    margin-bottom: 5vh;
}


footer {
    background-color: black;
    text-align: center;
    padding: 15px 0;
    color: white;
    font-weight: bold;
}